# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Rr]elease[Dd]ebug/
[Rr]elease[Ww]ith[Dd]ebug[Ii]nfo/
[Ll]og/
x64/

# VS Files
.vs/
*.user

# Build files
*.exe
*.exp

# Log files
*.log

# OSX
*.DS_Store